@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


<h3 class="simplified-chinese">
    你好，世界！
</h3>

<p>
    (This is "Hello, World!" in Simplified Chinese, displayed with Noto Sans SC.)
</p>


<h5>
Chars:
<br>
&#x20000;
<br>
&#x2b740;
&#x12380;
&#x13000;

<br>
<b>&#x101e1;</b> 

<br>
Cuneiform: &#x12001; &#x12002; &#x12003;
<br>
Egyptian Hieroglyphs: &#x13001; &#x13002; &#x13003;
<br>
Anatolian Hieroglyphs: &#x14400; &#x14401; &#x14402;
<br>
Linear B: &#x10000; &#x10001; &#x10002;
<br>
<b>
    &#x12000;
</b>
</h5>

<h4>
    These characters do not render as they are not supported.
&#x10ff00;
&#x20fff0;
&#x30ff00;
</h4>